<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>

<p th:text="${person.getId_person()}">Id</p>
<p th:text="${person.getName()}">Name</p>
<p th:text="${person.getYearOfBirth()}">Year of birth</p>


<div th:if="${books.isEmpty()}">
    <p>Человек не взял ни одной книги</p>
    <hr/>
</div>

<div th:if="${!books.isEmpty()}">
    <hr/>
    <b>Книги</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getNameBook() + ', ' + book.getAuthor() + ', ' + book.yearOfWriting}">book</tr>
    </table>
</div>

<a th:href="@{/people/{id}/edit(id=${person.getId_person()})}">Update user</a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId_person()})}">
  <input type="submit" value="delete"/>
</form>

</body>
</html>