<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getName() + ', ' + book.getYearOfWriting()}">Id</p>

<div th:if="${owner}">
    <span>book now at the: </span> <span th:text="${owner.getName()}"></span>

    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Set the book free">
    </form>

</div>

<div th:if="${people}">

    <span>This book is free</span>
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">

        <label>Choose a person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Assign a book">

    </form>

</div>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Update book</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="delete"/>
</form>




</body>
</html>